// ** COLOR CUBE **

$woodsmoke : #121117;
$white : #ffffff;
$midgray : #69696d;
$bluelagoon : #41C457;
$silversand : #747575;
$fountainblue : #52bbbb;
$tussock : #bd5942;
$caferoyale : #74370e;

// ** MEDIAN CUT **

$graynurse : #e6ece8;
$shark : #191c1e;
$kabul : #604f42;
$breakerbay : #609d9f;
$smaltblue : #59838c;

// ** MATERIAL DESIGN **

$bluechill : #16928e;
$seanymph : #719a9c;
$quincy : #5d412a;
$merlin : #403a36;
$bermuda : #7fd2d5;
